<!DOCTYPE html>
<html ng-app="myApp">
<head>
  {% load static from staticfiles %}
  <script src="{% static "angular.min.js"%}"></script>
  <script type="text/javascript" src="{% static "some.js"%}" data-cover></script>
  <title>Primal numbers checker</title>
</head>
{% verbatim %}
<body ng-controller="firstCtrl">
    <h1>Check number for primeness</h1>
    <input type="text" / ng-model="number">
    <button ng-click="check()">Check</button>
    <p>{{message}}</p>
</body>
{% endverbatim %}
</html>
